.container {
  width: 100%;
  min-height: 100vh;
  background: #f6f7f9;
  padding: 96px 0 90px;
  padding-top: 140px;
}

.wrapper {
  width: min(1060px, calc(100% - 24px));
  margin: 0 auto;
  display: flex;
  gap: 20px;
}

.content {
  flex: 1;
}

.card {
  background: #fff;
  border: 1px solid #ececec;
  border-radius: 12px;
  padding: 32px;
}

@media (max-width: 1080px) {
  .container {
    padding-top: 88px;
  }

  .wrapper {
    display: block;
  }

  .card {
    margin-top: 12px;
    padding: 24px 16px;
  }
}
