.git
.github
.gradle
.idea
.vscode
bin
build
frontend
**/build
**/node_modules
*.log
.env
.env.*
!.env.docker.example
application-local.yml
**/application-local.yml
application-local.yaml
**/application-local.yaml
docker-compose.override.yml
compose.override.yaml
